
*
{
    <!--------------------------- background-color: rgb(233, 207, 207);------------>

}
#header{
font-size: 70px ;
    color: rgb(17, 17, 16);
border: 10px;
border-style:dotted;
     text-align:center;
     margin: 70px;padding:50px ;
}
table
{border - collapse: collapse; }

td,th {border:solid black 3px;padding:10px;}
.sub {
    
    background-color: rgba(144, 123, 106, 0.776);
    display: inline-block;
    width: 33%;
    text-align: center;
  }